<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332108066690-1rlku98mvqhoqp3rdlk2640kmglco64l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332108066690-1rlku98mvqhoqp3rdlk2640kmglco64l</string>
	<key>API_KEY</key>
	<string>AIzaSyDzCxlY23c9rB8mXz2hXL1_iKeqOu6E6Tk</string>
	<key>GCM_SENDER_ID</key>
	<string>332108066690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.financeMobileApp</string>
	<key>PROJECT_ID</key>
	<string>job-project-32067</string>
	<key>STORAGE_BUCKET</key>
	<string>job-project-32067.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332108066690:ios:41217e1fafac3aaf8c699b</string>
</dict>
</plist>